@import url("css/normalize.css");
@import url("css/responsive.css");

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    color: black;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.375rem;
    margin: 0;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    color: #ff7f50;
}
h2 {
    font-size: 1.75rem;
    font-weight: 400;
    margin: 35px 0 35px 0;
}

/************ Header *************/

.header {
    width: 80%;
    height: 114px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.phone {
    color: black;
    font-size: 1.56rem;
    font-weight: 700;
}
.email {
    color: grey;
    font-size: 1rem;
    font-weight: 300;
}
.menu {
    width: 80%;
    height: auto;
    display: flex;
    padding: 1.5% 1%;
    border-top: 1px solid #808080;
}
.menu_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/************ Slider *************/

.slider {
    width: 100%;
}
.slider__item {
    width: 100%;
}
.owl-dots .owl-dot span{
    background: #fff;
    border: 1px solid #cccccc;
    width: 1rem;
    height: 1rem;
    display: block;
    margin: 0 0.4rem;
}
.owl-dots .owl-dot:hover span{
    background: black;
    border: 1px solid black;
}
.owl-dots .owl-dot.active span{
    background: black;
    border: 1px solid black;
}
.owl-dot{
    outline: none;
}
.owl-dots{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0.55rem;
}

/************ About *************/

.about_main {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

/************ Popular *************/

.grid {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid__item {
    margin-right: 1.7%;
    margin-bottom: 1.7%;
    width: 49.15%;
    position: relative;
}
.grid__item:nth-of-type(2n){
    margin-right: 0;
}
.grid__wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.grid__wrap:hover {
    background: rgba(0, 0, 0, 0.8);
}
.grid_picture {
    display: block;
    max-width: 100%;
}
.grid__link {
    color: #fff;
    text-align: center;
    font-size: 1.8125rem;
}
.grid__text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/************ Advantages *************/

.icon-circle {
    display: inline-block;
    height: 6.25rem;
    width: 6.25rem;
    background: #ffb9b3;
    border-radius: 50%;
    transition: 0.5s;
}
.icon-circle:hover {
    background: #f77a6f;
}
.advantage__item {
    text-align: center;
    width: 28%;
    margin-right: 8%;
}
.advantage__item:last-child {
    margin-right: 0;
}
.advantage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-circle__picture {
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.advantage__headline {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem 0;
}

/************ Footer *************/

.footer {
    width: 100%;
    min-height: 76px;
    background: #595959;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.footer__copyright {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer__copyright_data {
    text-align: right;
}
.button__nav {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background: none;
    border: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0.3rem;
    text-align: center;
}
.menu__button{
   display: none;
}
.button-nav__line{
    padding: 0;
    width: 80%;
    height: 2px;
    display: block;
    background: black;
    margin: 3px;
}